.AboutUsContainer{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.aboutImg {
    text-align: right;
}

.aboutImg img{
    width: 95%;
}

.backgroundNumber {
    color: #E2E2E2;
    font-size: 300px;
    line-height: 220px;
    margin-bottom: -220px;
}

.aboutText {
    font-weight: 500;
    text-indent: 30px;
    text-align: justify;
    font-size: 18px;
    color: #545454;
}

.textHeader {
    color: black;
}

#aboutSecond {
    flex-direction: row-reverse;
}

@media (max-width: 1000px) {
    #aboutSecond {
        flex-direction: column;
    }
    .AboutUsContainer{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
}