.mainPageContainer {
    padding: 100px;
}

.allProductionButton {
    width: 250px;
    height: 80px;
    color: white;
    background-color: #000B6F;
    border-radius: 18px;
    border: 0;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    transition-duration: 0.5s;
    margin-bottom: 50px;
}

.allProductionButton:hover {
    background-color: white;
    color: #000B6F;
    border: 2px solid #000B6F;
    transition-duration: 0.5s;
}

#second {
    flex-direction: row-reverse;
}

@media (max-width: 1000px) {
    #second {
        flex-direction: column;
    }

    .mainPageContainer {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
}